@{
    ViewBag.Title = "Rating";
}
<div class="row">
    <div class="col-md-12">
        <h2>Ratings</h2>
        <form action="/Home/DrawRating" method="post">
            <input name="rating" value="@ViewBag.Rating" min="0" max="100" />
            <input type="submit" name="submit" value="Draw" />
        </form>
    </div>

    <div class="col-md-12">
        <text>XXX</text>
        @Html.Raw(ViewBag.Stars)
    </div>
</div>